.menu{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.menuLink{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.1s ease-in-out;
    padding: 1.2rem;
    border-radius: 1rem;
}

.menuLink:hover{
    filter: brightness(60%);
}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}