.cycles{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.6rem;
}

.cycleDots{
   display: flex;
   gap: 0.8rem;
}
.cycleDot{
  width: 2rem;
  height: 2rem;
  background-color: var(--success);
  border-radius: 50%;
}

.workTime{
  background-color: var(--warning);
}

.shortBreakTime{
  background: var(--primary);
}

.longBreakTime{
  background-color: var(--info);
}